// Primary
$primary-red: #D55768;
$primary-blue: #48A0BF;

// Background Colors
$dark-grey: #37394C;
$dark-grey-translucent: #444444dd;
$medium-dark-grey: #7F8093;
$medium-grey: #a2a2a2;
$border-grey: #E3E5ED;
$white-grey: #E3E5ED;
$white: #fff;

// Secondary
$secondary-darker-purple: #37394C;
$secondary-purple: #434558;